#version: '3.8'

services:

  rod-manager:
    image: ghcr.io/go-rod/rod:v0.114.8
    container_name: rod-manager
    networks:
      - app-network
    ports:
      - "7317:7317"
    #environment:
      # Добавьте переменные окружения, если нужно

  backend:
    build:
      context: ./backfilms
    ports:
      - "8082:8081"
    networks:
      - app-network
    depends_on:
      - db

  taskworker:
    build:
      context: ./taskworker
    networks:
      - app-network
    depends_on:
      - db
      - rod-manager
    environment:
      ROD_REMOTE: "ws://rod-manager:7317" # Адрес Rod Manager для подключения
    links:
       - rod-manager

  frontend:
    build:
      context: ./vue-frontend
    ports:
      - "8080:80"
    networks:
      - app-network
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: films_db
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network
      
  nginx:
    build:
      context: ./nginx  # Сборка из папки Nginx
    ports:
      - "80:80"  # Прокси на порт 80
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
